*{ margin: 0; padding: 0; box-sizing: border-box; }
.container{
    width: 100vw;height: 100vh;display: flex;
    justify-content: center;
    align-items: center;
}
.player-container{
    width: 20vw;
    height: 60vh;
    margin: 9rem;
    border-radius: 10px;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.7);
    padding-top: 2rem;
    background-color:  rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    display: flex;flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.img-container img{
    width: 15vw;
    height: 35vh;
    position: relative;
    bottom: 8rem;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.3);
    /* border: 2px solid blue; */
    margin-bottom: 0;
    object-fit: cover;
    border-radius: 10px;
    
}

 #title,#artist{
    position: relative;
    bottom: 5rem;
    
}

.fa-solid{
     font-size: 2rem; 
    cursor: pointer;position: relative;
    bottom: 4rem;
    margin: 1rem;
    
}
.fa-solid:hover{
    color: rgb(70, 70, 235);  
     
}
/* Progress */
.progress-container {
    background: #fff;
    position: relative;
    top: -54px;
    border-radius: 5px;
    cursor: pointer;
    margin: 40px 20px;
    height: 4px;
    width: 90%;
  }
  
  .progress {
    background: rgb(81, 81, 238);
    backdrop-filter: blur(18px);
    border-radius: 5px;
    height: 100%;
    width: 0%; /*update this width using javascript to see progress*/
    transition: width 0.1s linear;
  }
  
  .duration-wrapper {
    position: relative;
    top: -25px;
    display: flex;
    justify-content: space-between;
  }
  @media screen and (max-width:1000px) {
    .img-container img{
        width: 20vw;
        height: 30vh;
    }
    .player-container{
        width: 23vw;
        height: 40vh;
    }
    #title,#artist{
        font-size: 1rem;
    }
    .fa-solid{margin: 2px;}
}